In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import random
from pprint import pprint

In [2]:
import_source="https://raw.githubusercontent.com/SimbarasheJehol/MachineLearningProject/master/dataProccesed2.csv"
df = pd.read_csv(import_source)
print("data is loaded")

data is loaded

In [3]:
import_source2="https://raw.githubusercontent.com/SimbarasheJehol/MachineLearningProject/master/datatest.csv"
df_testing = pd.read_csv(import_source2)
print("data is loaded")

data is loaded

In [4]:
df.head()

,Unnamed: 0,age,workclass,fnlwgt,education,education_num,martial_status,occupation,RelationShip,race,...,capital_loss,hours_per_week,native_country,age-binned,fnlwgt-binned,education_num-binned,capital_gain-binned,capital_loss-binned,hours_per_week-binned,income_class
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,...,0,40,United-States,mid_workclass,class1,education8,capital_gain1,capital_loss1,hours4,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,...,0,13,United-States,Advanced_workclass,class1,education8,capital_gain1,capital_loss1,hours2,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,...,0,40,United-States,mid_workclass,class1,education6,capital_gain1,capital_loss1,hours4,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,...,0,40,United-States,Advanced_workclass,class1,education4,capital_gain1,capital_loss1,hours4,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,...,0,40,Cuba,junior work_class,class2,education8,capital_gain1,capital_loss1,hours4,<=50K

In [5]:
df.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education_num', 'martial_status', 'occupation', 'RelationShip', 'race',
       'sex', 'capital_gain', 'capital_loss', 'hours_per_week',
       'native_country', 'age-binned', 'fnlwgt-binned', 'education_num-binned',
       'capital_gain-binned', 'capital_loss-binned', 'hours_per_week-binned',
       'income_class'],
      dtype='object')

In [6]:
df=df.drop('Unnamed: 0',axis=1)
df_testing=df_testing.drop('Unnamed: 0',axis=1)

Dropping the continous values by continous iterations l find that my algorithm perform very bad with them included 50% lower

In [7]:
df=df.drop( "fnlwgt", axis=1)\
                .drop( "capital_gain",axis=1)\
                .drop("capital_loss",axis=1)\
                .drop( "fnlwgt-binned", axis=1)\
                .drop( "capital_gain-binned",axis=1)\
                .drop("capital_loss-binned",axis=1)\
                .drop("education_num-binned",axis=1)\
                .drop("hours_per_week-binned",axis=1)\



df_testing=df_testing.drop( "fnlwgt", axis=1)\
                .drop( "capital_gain",axis=1)\
                .drop("capital_loss",axis=1)\
                .drop( "fnlwgt-binned", axis=1)\
                .drop( "capital_gain-binned",axis=1)\
                .drop("capital_loss-binned",axis=1)\
                .drop("education_num-binned",axis=1)\
                .drop("hours_per_week-binned",axis=1)\

In [8]:
df.shape

(32561, 13)

Splitting the testing and training set with the parameter test_size representing the percent to be used during testing

In [9]:
def train_test_split(df, test_size):
    
    if isinstance(test_size, float):
        test_size = round(test_size * len(df))

    indices = df.index.tolist()
    test_indices = random.sample(population=indices, k=test_size)

    test_df = df.loc[test_indices]
    train_df = df.drop(test_indices)
    
    return train_df, test_df

In [10]:
train_df, test_df = train_test_split(df, test_size=0.4)

In [11]:
test_df.sample(5)

,age,workclass,education,education_num,martial_status,occupation,RelationShip,race,sex,hours_per_week,native_country,age-binned,income_class
5576,45,Private,Bachelors,13,Never-married,Transport-moving,Not-in-family,White,Male,30,United-States,senior_workclass,<=50K
9337,27,State-gov,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,junior work_class,<=50K
15734,51,Federal-gov,Some-college,10,Married-civ-spouse,Handlers-cleaners,Husband,Other,Male,40,United-States,Advanced_workclass,<=50K
30232,34,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,mid_workclass,<=50K
17046,56,Local-gov,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,40,United-States,Advanced_workclass,<=50K

Working with the dataframe as it is slows down the algorithm so the best decision was to work with the numpy array

In [12]:
data = train_df.values ##speeding up the code
data[:5]

array([[38, ' Private', ' HS-grad', 9, ' Divorced', ' Handlers-cleaners',
        ' Not-in-family', ' White', ' Male', 40, ' United-States',
        'mid_workclass', ' <=50K'],
       [53, ' Private', ' 11th', 7, ' Married-civ-spouse',
        ' Handlers-cleaners', ' Husband', ' Black', ' Male', 40,
        ' United-States', 'Advanced_workclass', ' <=50K'],
       [28, ' Private', ' Bachelors', 13, ' Married-civ-spouse',
        ' Prof-specialty', ' Wife', ' Black', ' Female', 40, ' Cuba',
        'junior work_class', ' <=50K'],
       [37, ' Private', ' Masters', 14, ' Married-civ-spouse',
        ' Exec-managerial', ' Wife', ' White', ' Female', 40,
        ' United-States', 'mid_workclass', ' <=50K'],
       [49, ' Private', ' 9th', 5, ' Married-spouse-absent',
        ' Other-service', ' Not-in-family', ' Black', ' Female', 16,
        ' Jamaica', 'senior_workclass', ' <=50K']], dtype=object)

In [13]:
def check_purity(data):
    
    label_column = data[:,-1]
    unique_classes = np.unique(label_column)

    if len(unique_classes) == 1:
        return True
    else:
        return False

In [14]:
check_purity(train_df.values)

False

In [15]:
def classify_data(data):
    
    label_column = data[:, -1]
    unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)

    index = counts_unique_classes.argmax()
    classification = unique_classes[index]
    
    return classification

In [16]:
def get_potential_splits(data):
    
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(n_columns - 1):          # excluding the last column which is the label
        values = data[:, column_index]
        unique_values = np.unique(values)
        
        type_of_feature = FEATURE_TYPES[column_index]
        if type_of_feature == "continuous":
            potential_splits[column_index] = []
            for index in range(len(unique_values)):
                if index != 0:
                    current_value = unique_values[index]
                    previous_value = unique_values[index - 1]
                    potential_split = (current_value + previous_value) / 2

                    potential_splits[column_index].append(potential_split)
        
        # feature is categorical
        # (there need to be at least 2 unique values, otherwise in the
        # split_data function data_below would contain all data points
        # and data_above would be empty)
        elif len(unique_values) > 1:
            potential_splits[column_index] = unique_values
    
    return potential_splits

In [17]:
def split_data(data, split_column, split_value):
    
    split_column_values = data[:, split_column]

    type_of_feature = FEATURE_TYPES[split_column]
    if type_of_feature == "continuous":
        data_below = data[split_column_values <= split_value]
        data_above = data[split_column_values >  split_value]
    
    # feature is categorical   
    else:
        data_below = data[split_column_values == split_value]
        data_above = data[split_column_values != split_value]
    
    return data_below, data_above

In [18]:
def calculate_entropy(data):
    
    label_column = data[:, -1]
    _, counts = np.unique(label_column, return_counts=True)

    probabilities = counts / counts.sum()
    entropy = sum(probabilities * -np.log2(probabilities))
     
    return entropy

In [19]:
def calculate_overall_entropy(data_below, data_above):
    
    n = len(data_below) + len(data_above)
    p_data_below = len(data_below) / n
    p_data_above = len(data_above) / n

    overall_entropy =  (p_data_below * calculate_entropy(data_below) 
                      + p_data_above * calculate_entropy(data_above))
    
    return overall_entropy

In [20]:
def determine_best_split(data, potential_splits):
    
    overall_entropy = 9999
    for column_index in potential_splits:
        for value in potential_splits[column_index]:
            data_below, data_above = split_data(data, split_column=column_index, split_value=value)
            current_overall_entropy = calculate_overall_entropy(data_below, data_above)

            if current_overall_entropy <= overall_entropy:
                overall_entropy = current_overall_entropy
                best_split_column = column_index
                best_split_value = value
    
    return best_split_column, best_split_value

In [21]:
def determine_type_of_feature(df):
    
    feature_types = []
    n_unique_values_treshold = 20
    for feature in df.columns:
        if feature != "income_class":
            unique_values = df[feature].unique()
            example_value = unique_values[0]

            if (isinstance(example_value, str)) or (len(unique_values) <= n_unique_values_treshold):
                feature_types.append("categorical")
            else:
                feature_types.append("continuous")
    
    return feature_types

In [22]:
def decision_tree_algorithm(df, counter=0, min_samples=2, max_depth=5):
    
    # data preparations
    if counter == 0:
        global COLUMN_HEADERS, FEATURE_TYPES
        COLUMN_HEADERS = df.columns
        FEATURE_TYPES = determine_type_of_feature(df)
        data = df.values
    else:
        data = df           
    
    
    # base cases
    if (check_purity(data)) or (len(data) < min_samples) or (counter == max_depth):
        classification = classify_data(data)
        
        return classification

    
    # recursive part
    else:    
        counter += 1

        # helper functions 
        potential_splits = get_potential_splits(data)
        split_column, split_value = determine_best_split(data, potential_splits)
        data_below, data_above = split_data(data, split_column, split_value)
        
        # determine question
        feature_name = COLUMN_HEADERS[split_column]
        type_of_feature = FEATURE_TYPES[split_column]
        if type_of_feature == "continuous":
            question = "{} <= {}".format(feature_name, split_value)
            
        # feature is categorical
        else:
            question = "{} = {}".format(feature_name, split_value)
        
        # instantiate sub-tree
        sub_tree = {question: []}
        
        # find answers (recursion)
        yes_answer = decision_tree_algorithm(data_below, counter, min_samples, max_depth)
        no_answer = decision_tree_algorithm(data_above, counter, min_samples, max_depth)
        
        # If the answers are the same, then there is no point in asking the qestion.
        # This could happen when the data is classified even though it is not pure
        # yet (min_samples or max_depth base case).
        if yes_answer == no_answer:
            sub_tree = yes_answer
        else:
            sub_tree[question].append(yes_answer)
            sub_tree[question].append(no_answer)
        
        return sub_tree

In [23]:
tree = decision_tree_algorithm(train_df, max_depth=4)
pprint(tree)

{'martial_status =  Married-civ-spouse': [{'education_num = 13': [{'hours_per_week <= 31.0': [{'RelationShip =  Wife': [' '
                                                                                                                        '>50K',
                                                                                                                        ' '
                                                                                                                        '<=50K']},
                                                                                              {'age-binned = starter_workclass': [' '
                                                                                                                                  '<=50K',
                                                                                                                                  ' '
                                                                                                                                  '>50K']}]},
                                                                  {'occupation =  Prof-specialty': [' '
                                                                                                    '>50K',
                                                                                                    {'occupation =  Exec-managerial': [' '
                                                                                                                                       '>50K',
                                                                                                                                       ' '
                                                                                                                                       '<=50K']}]}]},
                                          ' <=50K']}

In [24]:
example = test_df.iloc[:,:]
example

,age,workclass,education,education_num,martial_status,occupation,RelationShip,race,sex,hours_per_week,native_country,age-binned,income_class
200,26,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,40,United-States,junior work_class,<=50K
28324,32,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,38,United-States,junior work_class,<=50K
8945,46,Private,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,senior_workclass,<=50K
24922,53,Local-gov,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,Advanced_workclass,<=50K
11092,40,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,mid_workclass,>50K
21372,29,Federal-gov,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Female,55,United-States,junior work_class,<=50K
15977,44,Private,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,40,United-States,senior_workclass,<=50K
21464,26,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,65,United-States,junior work_class,>50K
1693,53,State-gov,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,Advanced_workclass,>50K
28513,55,Self-emp-not-inc,Bachelors,13,Widowed,Sales,Unmarried,White,Female,15,United-States,Advanced_workclass,<=50K
3558,24,Local-gov,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,50,United-States,starter_workclass,<=50K
23461,37,Private,HS-grad,9,Never-married,Adm-clerical,Unmarried,Black,Female,40,United-States,mid_workclass,<=50K
29366,22,Private,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Female,25,United-States,starter_workclass,<=50K
1098,29,Self-emp-inc,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,25,United-States,junior work_class,>50K
9047,32,Private,Assoc-voc,11,Never-married,Exec-managerial,Not-in-family,Black,Female,35,England,junior work_class,<=50K
22483,26,Private,Some-college,10,Never-married,Sales,Not-in-family,Black,Male,35,United-States,junior work_class,<=50K
3923,57,Private,HS-grad,9,Married-civ-spouse,Other-service,Husband,Black,Male,48,England,Advanced_workclass,<=50K
4102,51,Local-gov,9th,5,Married-civ-spouse,Transport-moving,Husband,Black,Male,40,United-States,Advanced_workclass,<=50K
25985,53,Local-gov,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,38,United-States,Advanced_workclass,<=50K
15988,32,Local-gov,Masters,14,Never-married,Prof-specialty,Not-in-family,Other,Female,40,United-States,junior work_class,<=50K
18866,28,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,junior work_class,<=50K
1701,18,Private,Some-college,10,Never-married,Other-service,Own-child,White,Female,15,United-States,starter_workclass,<=50K
18952,30,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,30,United-States,junior work_class,<=50K
24447,60,Federal-gov,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,diminishing_workclass,<=50K
15633,58,Private,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,diminishing_workclass,>50K
11604,46,Private,Some-college,10,Married-civ-spouse,Protective-serv,Husband,Black,Male,40,United-States,senior_workclass,>50K
17507,22,Private,Some-college,10,Never-married,Sales,Own-child,White,Female,16,United-States,starter_workclass,<=50K
17628,52,Private,11th,7,Married-civ-spouse,Machine-op-inspct,Husband,Other,Male,40,Dominican-Republic,Advanced_workclass,<=50K
7568,26,Private,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,40,United-States,junior work_class,<=50K
20453,37,Private,Some-college,10,Never-married,Transport-moving,Unmarried,White,Female,20,Puerto-Rico,mid_workclass,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26738,19,Private,HS-grad,9,Never-married,Sales,Own-child,White,Female,35,United-States,starter_workclass,<=50K
28452,53,Private,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,Advanced_workclass,>50K
18364,30,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,junior work_class,>50K
3909,33,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,84,Taiwan,junior work_class,>50K
25725,32,Private,Bachelors,13,Divorced,Craft-repair,Not-in-family,White,Male,50,United-States,junior work_class,>50K
22816,44,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,40,United-States,senior_workclass,<=50K
16443,36,State-gov,Masters,14,Never-married,Prof-specialty,Own-child,White,Female,30,United-States,mid_workclass,<=50K
26437,34,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,mid_workclass,>50K
20848,50,Private,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,55,United-States,Advanced_workclass,>50K
17427,23,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Other-relative,White,Male,40,United-States,starter_workclass,<=50K
13749,43,Private,HS-grad,9,Divorced,Other-service,Not-in-family,Black,Female,35,United-States,senior_workclass,<=50K
8400,26,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,50,United-States,junior work_class,>50K
18565,42,Self-emp-inc,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,60,United-States,senior_workclass,<=50K
1892,26,Private,HS-grad,9,Divorced,Other-service,Other-relative,White,Male,40,United-States,junior work_class,<=50K
2933,29,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Own-child,White,Male,50,Italy,junior work_class,>50K
30954,69,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,50,United-States,junior_retired,>50K
22228,56,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,Advanced_workclass,>50K
8438,41,Private,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,Other,Female,50,United-States,mid_workclass,<=50K
31637,31,Local-gov,Bachelors,13,Never-married,Prof-specialty,Other-relative,White,Male,40,United-States,junior work_class,<=50K
28514,51,Private,Bachelors,13,Separated,Adm-clerical,Unmarried,White,Female,40,United-States,Advanced_workclass,<=50K
148,64,Private,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,diminishing_workclass,<=50K
18772,41,Self-emp-not-inc,HS-grad,9,Divorced,Sales,Not-in-family,White,Male,45,United-States,mid_workclass,<=50K
14670,22,Private,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,37,United-States,starter_workclass,<=50K
2433,42,State-gov,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,senior_workclass,>50K
26721,41,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,60,United-States,mid_workclass,<=50K
10263,44,Private,Some-college,10,Separated,Exec-managerial,Not-in-family,White,Male,45,England,senior_workclass,<=50K
23445,22,Private,HS-grad,9,Never-married,Handlers-cleaners,Unmarried,White,Male,35,United-States,starter_workclass,<=50K
10311,26,Private,HS-grad,9,Never-married,Other-service,Own-child,White,Female,30,United-States,junior work_class,<=50K
7293,34,Private,11th,7,Never-married,Other-service,Not-in-family,White,Female,40,Ireland,mid_workclass,<=50K
20693,27,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,50,United-States,junior work_class,<=50K

In [25]:
def classify_example(example, tree):
    question = list(tree.keys())[0]
    feature_name, comparison_operator, value = question.split(" "),question.split(" "),question.split(" ")

    # ask question
    if comparison_operator == "<=":
        if example[feature_name] <= float(value):
            answer = tree[question][0]
        else:
            answer = tree[question][1]
    
    # feature is categorical
    else:
        if str(example[feature_name]) == value:
            answer = tree[question][0]
        else:
            answer = tree[question][1]

    # base case
    if not isinstance(answer, dict):
        return answer
    
    # recursive part
    else:
        residual_tree = answer
        return classify_example(example, residual_tree)

In [26]:
def calculate_accuracy(df, tree):

    df["classification"] = df.apply(classify_example, args=(tree,), axis=1)
    df["classification_correct"] = df["classification"] == df["income_class"]
    
    accuracy = df["classification_correct"].mean() *100
    
    return accuracy

In [27]:
calculate_accuracy(test_df,tree)

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

75.867628992629

In [28]:
train_df, test_df = train_test_split(df, test_size=0.4)
tree = decision_tree_algorithm(train_df)
accuracy = calculate_accuracy(test_df, tree)
accuracy

76.06726044226045

In [29]:
test_df

,age,workclass,education,education_num,martial_status,occupation,RelationShip,race,sex,hours_per_week,native_country,age-binned,income_class,classification,classification_correct
5777,26,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
22889,19,Private,Some-college,10,Never-married,Sales,Own-child,White,Female,20,United-States,starter_workclass,<=50K,<=50K,True
29607,53,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,48,United-States,Advanced_workclass,<=50K,<=50K,True
8614,32,Private,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,60,United-States,junior work_class,>50K,<=50K,False
674,50,Self-emp-inc,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,Advanced_workclass,>50K,<=50K,False
25448,29,Private,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,35,United-States,junior work_class,<=50K,<=50K,True
14303,26,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,White,Female,25,United-States,junior work_class,<=50K,<=50K,True
29245,58,Local-gov,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,48,United-States,diminishing_workclass,<=50K,<=50K,True
11860,38,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,mid_workclass,<=50K,<=50K,True
16127,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,senior_workclass,<=50K,<=50K,True
19668,36,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,48,United-States,mid_workclass,<=50K,<=50K,True
16812,46,Without-pay,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,25,United-States,senior_workclass,<=50K,<=50K,True
7966,46,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,senior_workclass,>50K,<=50K,False
25868,51,Private,HS-grad,9,Widowed,Handlers-cleaners,Not-in-family,White,Male,30,United-States,Advanced_workclass,<=50K,<=50K,True
16188,58,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,diminishing_workclass,>50K,<=50K,False
14183,31,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
31592,59,Private,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,40,Iran,diminishing_workclass,<=50K,<=50K,True
20897,33,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
29365,25,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
32478,21,Private,Assoc-acdm,12,Never-married,Other-service,Own-child,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
29949,37,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,mid_workclass,>50K,<=50K,False
17860,22,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
30088,59,State-gov,Bachelors,13,Never-married,Exec-managerial,Not-in-family,Black,Female,40,Outlying-US(Guam-USVI-etc),diminishing_workclass,<=50K,<=50K,True
12392,24,Private,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
2562,46,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,45,United-States,senior_workclass,<=50K,<=50K,True
23155,44,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,senior_workclass,<=50K,<=50K,True
10251,22,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,35,United-States,starter_workclass,<=50K,<=50K,True
27685,27,Private,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,United-States,junior work_class,<=50K,<=50K,True
26470,40,Private,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,mid_workclass,>50K,<=50K,False
8054,42,Private,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Female,24,United-States,senior_workclass,<=50K,<=50K,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8573,45,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,senior_workclass,>50K,<=50K,False
26488,31,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,junior work_class,>50K,<=50K,False
22299,35,Local-gov,Some-college,10,Separated,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,40,United-States,mid_workclass,<=50K,<=50K,True
28752,39,Private,Bachelors,13,Divorced,Adm-clerical,Unmarried,White,Male,40,United-States,mid_workclass,<=50K,<=50K,True
14760,36,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,mid_workclass,>50K,<=50K,False
24428,27,Private,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,60,United-States,junior work_class,<=50K,<=50K,True
22027,25,Private,Some-college,10,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,starter_workclass,<=50K,<=50K,True
23603,21,Private,Assoc-voc,11,Never-married,Craft-repair,Own-child,Black,Male,40,United-States,starter_workclass,<=50K,<=50K,True
10997,33,Private,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,45,Mexico,junior work_class,<=50K,<=50K,True
9619,34,Private,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,mid_workclass,<=50K,<=50K,True
17599,55,Self-emp-inc,Bachelors,13,Divorced,Sales,Not-in-family,White,Female,50,Germany,Advanced_workclass,<=50K,<=50K,True
18390,32,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
25653,45,Private,Assoc-voc,11,Never-married,Sales,Not-in-family,White,Female,38,United-States,senior_workclass,<=50K,<=50K,True
18033,33,Local-gov,HS-grad,9,Widowed,Other-service,Unmarried,White,Female,40,United-States,junior work_class,<=50K,<=50K,True
27034,37,Private,Bachelors,13,Never-married,Transport-moving,Not-in-family,White,Male,46,United-States,mid_workclass,<=50K,<=50K,True
8406,65,Local-gov,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,28,United-States,diminishing_workclass,<=50K,<=50K,True
29426,45,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,senior_workclass,>50K,<=50K,False
27168,56,Private,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,Advanced_workclass,>50K,<=50K,False
10419,20,Private,Some-college,10,Never-married,Sales,Own-child,Black,Female,20,United-States,starter_workclass,<=50K,<=50K,True
31259,42,Private,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,65,United-States,senior_workclass,<=50K,<=50K,True
12359,39,Federal-gov,Bachelors,13,Divorced,Exec-managerial,Unmarried,Black,Female,40,United-States,mid_workclass,<=50K,<=50K,True
20160,36,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,mid_workclass,>50K,<=50K,False
3226,58,Local-gov,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,40,United-States,diminishing_workclass,<=50K,<=50K,True
4786,24,Private,HS-grad,9,Never-married,Transport-moving,Own-child,Asian-Pac-Islander,Male,30,United-States,starter_workclass,<=50K,<=50K,True
17,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
15092,18,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
23236,54,Self-emp-inc,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,40,United-States,Advanced_workclass,>50K,<=50K,False
12203,26,Private,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,40,United-States,junior work_class,<=50K,<=50K,True
20521,35,Private,HS-grad,9,Married-spouse-absent,Adm-clerical,Unmarried,Black,Female,40,United-States,mid_workclass,<=50K,<=50K,True
18582,45,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,senior_workclass,<=50K,<=50K,True

In [33]:
print(tree)

{'martial_status =  Married-civ-spouse': [{'occupation =  Prof-specialty': [{'age <= 33.5': [{'age-binned = starter_workclass': [{'native_country =  Mexico': [' >50K', ' <=50K']}, ' >50K']}, {'hours_per_week <= 24.5': [{'age <= 39.5': [' >50K', ' <=50K']}, ' >50K']}]}, {'occupation =  Exec-managerial': [{'workclass =  Self-emp-not-inc': [' <=50K', {'age <= 31.5': [' <=50K', ' >50K']}]}, {'education_num = 13': [{'hours_per_week <= 34.0': [' <=50K', ' >50K']}, ' <=50K']}]}]}, {'hours_per_week <= 43.5': [{'age <= 32.5': [' <=50K', {'occupation =  Prof-specialty': [{'education_num = 15': [' >50K', ' <=50K']}, ' <=50K']}]}, {'age <= 27.5': [{'age <= 21.5': [' <=50K', {'native_country =  South': [' >50K', ' <=50K']}]}, ' <=50K']}]}]}